*{
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  line-height: 1.6;
 /* min-height: 300px;*/
  display: grid;
  padding-top: 20px;

}

.card{
  box-shadow: 0 0 20px 2px rgba(6,1,5,0.96);
  width:70%;
  max-width: 400px;
  min-height: 275px;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  color: white;
  text-align: center;
  padding:2em;
  border-radius: 55px;
  transition: 0.3s;
  background-image: url(timetable.jpg);
}
.card:hover{
  transform: scale(1.1);

}
p{
  color: black;
  font-size: 20px;
  padding-left: 100px;
  padding-top: 70px;
}

