<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>school guide app</title>
</head>
<body>
   <div>
     <nav>
       <app-nav-bar></app-nav-bar>
     </nav>
     <main>
       <div>
       <app-timetable></app-timetable>
         </div>
       <div>
       <app-report-card></app-report-card>
       </div>
       <aside>
        <div>
        <app-aside></app-aside>
        </div>
      </aside>
     </main>
     <footer>
       <app-footer></app-footer>
     </footer>
   </div>
</body>
</html>
